@use '../main.scss';

.page{
    display: flex;
    background-color: #f1f5f9;
    min-height: 100vh;

    .sidebar {
        width: 230px;
        box-shadow: 0 0 10px #ddd;
        background-color: white;
        padding: 20px;
        position: relative;

        @media (max-width: 767px){
            &{
                width: 58px;
                padding: 10px;

                span{
                    display: none;
                }
            }             
        }

        h3{
            position: relative;
            text-align: center; 
            margin-top: 0; 
            margin-bottom: 15px;

            @media (max-width: 767px){
                &{
                    margin-bottom: 15px;
                    font-size: 13px;
                }
            }

            @media (min-width: 768px){
                &{
                    margin-bottom: 50px;
                }

                &::before,&::after{
                    content: "";
                    position: absolute;    
                    background-color: #000;
                    left: 50%;
                    transform: translateX(-50%);
                }
                &::before{
                    width: 80px;
                    height: 2px;
                    bottom: -20px;
                }
                &::after{
                    width: 12px;
                    height: 12px;
                    border-radius: 50%;
                    border: 3px solid white;
                    bottom: -28px;
                }
            }

        }
        a{
            display: flex;
            align-items: center;
            padding: 10px;
            border-radius: 6px;
            font-size: 14px;
            transition: background-color 0.3s;
            margin-bottom: 5px;

            &:hover,
            &:active{
                background-color: #f6f6f6;
            }
            span{
                font-size: 14px;
                margin-left: 10px;
            }
        } 
    }

    .content{
        width: 100%;
        overflow: hidden;

        .header{
            background-color: white;
            padding: 15px;
            display: flex;
            justify-content: space-between;

            .search{
                position: relative;

                .iconsearch{
                    color: #888;
                    font-size: 14px;
                    position: absolute;
                    left: 10px;
                    top: 50%;
                    transform: translateY(-50%);
                    z-index: 1;
                }

                input{
                    width: 155px;
                    transition: width 0.3s, color 0.3s;
                    padding: 10px 10px 10px 26px;
                    position: relative;
                    border: 1px solid #ccc;
                    font-size: 14px;
                    border-radius: 10px;

                    &:focus{
                        width: 200px;
                        &::placeholder{
                            color: transparent;
                        }
                    }    
                }
            }

            .icons {
                display: flex;
                align-items: center;

                .notification{
                    position: relative;

                    &::before{
                        content: "";
                        position: absolute;
                        width: 10px;
                        height: 10px;
                        border-radius: 50%;
                        background-color: var(--red-color);
                        top: -5px;
                        right: -8px;
                    }
                    .bellIcon{
                        font-size: 20px;
                    }
                }
                img{
                    width: 32px;
                    height: 32px;
                    margin-left: 15px;
                }
            }
        }
    }     
}
